body{
    background-color: gray;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 200px

}

.board{
    display: grid;
    height: 500px;
    width: 500px;
    border: 5px solid;
   
}
button{
    justify-content: space-between;
    margin: 5px;
    
}